a{
	color: #F0F1F2;
}
.professional .heard-prof{
	height: 50px;
	width: 100%;
	background: #20303E;
}
.professional .heard-prof ul{
	display: flex;
	color: #F0F1F2;
	padding-left: 20px;
}

.professional .heard-prof ul li{
	margin-right: 5px;
	line-height: 50px;
}
.professional  .list{
	margin-top: 20px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.professional  .list>div:first-child{
	width: 78%;
	background: #283743;
}

.professional  .list>div:last-child{
	width: 20%;
	
}
.professional  .list .list-nav ul{
	display: flex;
	color: #FFFFFF;
	margin: 0;
	background: #1D2126;
}
.professional  .list .list-nav ul li{
	padding: 0 40px;
	/*flex: 1;*/
	height: 40px;
	text-align: center;
	line-height: 40px;
	cursor:pointer;
}
.professional  .list .list-nav ul li.active{
	background: #283743;
	color: #FFFFFF;
}
.professional  .text-cent{
	background: #49677E;
}
.professional .list-show .list-tiele {
	width: 100%;
	margin-left: -0.5%;
}
.professional .list-show .list-tiele li{
	width: 22%;
	float: left;
	margin-left: 2.5%;
	margin-top: 2%;
}
.list-show .list-tiele li a{
	display: block;
	width: 100%;
}
.list-show .list-tiele li a img{
	width: 100%;
}
.professional .list-show .list-tiele .addmargin{
	margin-right: 2%;
}
.professional .list-show .list-tiele .text-cent{
	text-align: center;
	line-height: 36px;
}
.professional .list-show .list-tiele .addimg{
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	overflow: hidden;
}
.professional .addimg .bg{
	display: block;
	position: absolute;
	top: 10px;
	right: -40px;
	width: 150px;
	font-size: 12px;
	height: 30px;
	color: #FFFFFF;
	background: #F19149;
	text-align: center;
	line-height: 30px;
	transform:skew(0deg,40deg);
	
}
.professional .list-page{
	display: flex;
	justify-content: center;
}
.professional .list-page nav a{
	background:#3E5D73 ;
	border: none;
	margin-right: 5px;
	border-radius: 5px;
	color: #FFFFFF;
}
.professional .teamNew{
	background: #1F2328;
}
.professional .addbordr-rad{
	
	overflow: hidden;
	color: #FFFFFF;
	text-align: center;
	line-height: 40px;
}
.list-teamNew1 li{
	float: left;
	width: 25%;
	margin-left: 7%;
	margin-top: 5%;
}
.list-teamNew1 li img{
	width: 100%;
	border-radius: 40px;
	overflow: hidden;
}
.list-teamNew1{
	margin-left: -2%;
	background: #2E3E4D;
	min-height: 240px;
}
.list-teamNew1 ul{
	width: 100%;
	min-height: 240px;
}
.professional .teamNew{
	border-radius: 5px;
	overflow: hidden;background: #2E3E4D;
}
.professional .team-heard{
	background: #1F2328;
}
.professional .addcolor-bluer
{
	color: #6995B3;
}
.professional .list .list-nav ul li:hover{
	    background: #283743;
    color: #FFFFFF;
}
.professional .list-page nav a:hover,.professional .list-page nav a:hover span{
	color: #fff;
	background: #5a7181;
}
.pagination > li > a:hover, .pagination > li > span:hover{
	background-color: #8097a8;
	color: #fafafa;
}
